/* AccountRegistrationPage.css */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;700&display=swap');
@font-face {
    font-family: 'Moebius_Bold_kor';
    src: url(./Moebius_Bold_kor.ttf) format('truetype');
  }

  @keyframes fadeInUp {
    from {
      opacity: 0;
      transform: translateY(20px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }


.account-registration-container {
    position: relative;
    top: 100px;
    max-width: 400px;
    font-family: 'Noto Sans KR', sans-serif;
    margin: 0 auto;
    padding: 2rem;
    background-color: #f7f7f7;
    border-radius: 8px;
    border-color: #5a6268;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    opacity: 0; /* Initially set to 0 for the fade-in effect */
    animation: fadeInUp 1s ease-out forwards; /* Apply the fade-in-up animation */
  }
  
  .account-registration-container h2 {
    margin-bottom: 1.5rem;
    font-family: 'Moebius_Bold_kor', sans-serif;
  }
  
  .account-registration-form .ant-form-item {
    margin-bottom: 1rem;
    align-items: center;
  }
  
  .account-registration-form .ant-form-item-label {
    display: block;
    margin-top: 0rem;
    margin-bottom: 0.3rem;
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: normal;
  }
  
  .phone-code-button {
    width: 100px;
    /* height: 10%; */
    display: flex;
    align-items: right;
    margin-top: -20px;
    margin-left: -10px;
    height: 100%;
    font-size: smaller;
    background-color: #646464; /* 예시: Ant Design의 primary 버튼 색상 */
    border-color: #b1b1b1; /* 예시: Ant Design의 primary 버튼 테두리 색상 */
    color: white !important;
  }

  .phone-code-button:hover {
    background-color: rgb(173, 173, 173) !important;
    color: white !important;
    border-color: #b1b1b1 !important;
  }
  
  .account-registration-ok {
    width: 100%;
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 1rem;
    margin-top: 1.5rem;
    background-color: #ff007f;
    color: white;
  }

  .account-registration-ok:hover {
    background-color: white !important;
    color: #ff007f !important;
    border-color: #ff007f !important;
  }