/* WelcomePage.css */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;700&display=swap');
@font-face {
    font-family: 'Moebius_Bold_kor';
    src: url(./Moebius_Bold_kor.ttf) format('truetype');
  }

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.welcome-container {
    position: relative;
    top: 150px;
    max-width: 400px;
    margin: 0 auto;
    padding: 2rem;
    font-family: 'Noto Sans KR', sans-serif;
    text-align: center;
    opacity: 0; /* Initially set to 0 for the fade-in effect */
    animation: fadeInUp 1s ease-out forwards; /* Apply the fade-in-up animation */
  }
  
  .welcome-container h2 {
    color: #ff007f;
    margin-bottom: 1.5rem;
    font-family: 'Moebius_Bold_kor', sans-serif;
  }

  .welcome-container h3 {
    color: black;
    margin-bottom: 1.5rem;
    font-family: 'Moebius_Bold_kor', sans-serif;
  }
  
  .account-register-button {
    margin-top: 3rem;
    background-color: #ff007f;
    color: white;
  }

  .account-register-button:hover {
    background-color: white !important;
    color: #ff007f !important;
    border-color: #ff007f !important;
  }