@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;700&display=swap');

/* .ant-layout {
  font-family: 'Noto Sans KR', sans-serif;
} */

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.assets_parent-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start; /* Align items to the start (left) */
}

.assets_wrapper_1 {
  opacity: 0; /* Initially set to 0 for the fade-in effect */
  animation: fadeInUp 1s ease-out forwards; /* Apply the fade-in-up animation */
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* Four columns */
  gap: 10px 100px; /* Increase the horizontal gap between grid items */
  font-size: 20px;
  font-family: 'Noto Sans KR', sans-serif;
  text-align: right; /* Align text content to the right */
  font-weight: bold; /* Make the text bold */
  margin-right: 150px; /*좌우 이동*/
}

.assets_positive {
  color: red;
}

.assets_negative {
  color: blue;
}

.assets_neutral {
  color: black;
}

.assets_wrapper_2 {
  display: flex;
  margin-top: 30px;
  width: 100%; /* Ensure full width */
}

.assets_wrapper_2-left {
  flex: 0 0 30%; /* Set a fixed width for the left section */
  height: 300px;

}

.assets_wrapper_2-right {
  flex: 1; /* Take remaining space */
  /* background-color: gold; */
  opacity: 0; /* Initially set to 0 for the fade-in effect */
  animation: fadeInUp 1s ease-out forwards; /* Apply the fade-in-up animation */
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* three columns */
  gap: 10px 10px; /* Increase the horizontal gap between grid items */
  font-size: 20px;
  font-family: 'Noto Sans KR', sans-serif;
  text-align: right; /* Align text content to the right */
  font-weight: bold; /* Make the text bold */
}

/* 1번째 행의 아이템을 중앙 정렬 */
.assets_wrapper_2-right > :nth-child(-n+3) {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(228, 228, 228);
}

/* 1번째 열의 아이템을 중앙 정렬 */
.assets_wrapper_2-right > :nth-child(3n+1) {
  display: flex;
  justify-content: center;
  align-items: center;
}

