.board-list {
    padding: 20px;
    background-color: #fff; /* White background */
    border-radius: 10px; /* Rounded corners */
    color: #333; /* Text color */
    margin: 20px auto; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
    font-family: 'Noto Sans KR', sans-serif; 
    max-width: 700px; 
  }
  
  .desktop-view {
    display: none;
  }
  
  .mobile-view {
    display: block;
  }
  
  .write-button {
    margin-top: 20px;
  }
  
  @media (min-width: 769px) {
    .desktop-view {
      display: block;
    }
  
    .mobile-view {
      display: none;
    }
  }
  
  @media (max-width: 768px) {
    .desktop-view {
      display: none;
    }
  
    .mobile-view {
      display: block;
    }
  
    .mobile-list {
      list-style-type: none;
      padding: 0;
    }
  
    .mobile-list li {
      border: 1px solid #ddd;
      padding: 10px;
      margin-bottom: 10px;
    }
  }
  
  .navigate-board {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .navigate-button {
    margin-left: 8px;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
  }
  
  th, td {
    padding: 8px;
    border: 1px solid #ddd;
  }
  
  th {
    background-color: #f4f4f4;
  }
  
  th, td {
    text-align: center;
  }
  