body {
  background-color: #ffffff;
  color: #000000;
  font-family: 'Arial', sans-serif;
}

.community-list {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.community-list h1 {
  color: #162B4B; /* 파란색 */
  text-align: center;
  margin-bottom: 20px;
}

.write-button {
  display: inline-block;
  background-color: #162B4B; /* 파란색 */
  color: #ffffff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  text-align: center;
  width: 100px; /* 좌우 크기를 제한 */
}

.write-button:hover {
  background-color: #1A1A2E; /* 약간 어두운 파란색 */
}

.write-button-container {
  text-align: right; /* 버튼을 우측 정렬 */
}

.desktop-view table {
  width: 100%;
  border-collapse: collapse;
}

.desktop-view th, .desktop-view td {
  padding: 8px;
  border: 1px solid #ddd;
  text-align: center;
}

.desktop-view th {
  background-color: #ff007f; /* 포인트 분홍색 */
  color: white;
}

.desktop-view td {
  background-color: #ffffff;
  color: #181949; /* 어두운 텍스트 색상 */
}

.mobile-view {
  display: none;
}

@media (max-width: 767px) {
  .desktop-view {
    display: none;
  }

  .mobile-view {
    display: block;
  }

  .mobile-list {
    list-style: none;
    padding: 0;
  }

  .mobile-list li {
    background-color: #ffffff; /* 배경색을 흰색으로 설정 */
    margin-bottom: 10px;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    color: #181949; /* 어두운 텍스트 색상 */
  }

  .mobile-list h3 {
    font-size: 18px; /* 제목 크기를 키웁니다. */
    margin-bottom: 5px;
    color: #162B4B; /* 파란색 */
  }

  .info-row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
  }

  .info-item {
    font-size: 14px;
    color: #000000; /* 텍스트 색상을 검정색으로 설정 */
  }

  .date-item {
    text-align: right;
    font-size: 14px;
    color: #000000; /* 텍스트 색상을 검정색으로 설정 */
  }

  .write-button-container {
    text-align: right;
    margin: 20px;
    padding: 15px; /* 버튼을 우측 정렬 */
  }

  .write-button {
    width: 100px; /* 좌우 크기를 제한 */
    text-align: center;
    margin: 20px 0;
    background-color: #162B4B; /* 새로운 파란색 */
    color: #ffffff;
    padding: 15px;
  }

  .write-button:hover {
    background-color: #1A1A2E; /* 약간 어두운 파란색 */
  }
}

.pagination-container {
  display: flex;
  justify-content: center;
  margin-top: 20px; /* 위쪽 여백 추가 */
}

.pagination {
  display: inline-block;
}

.navigate-board {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.navigate-board .ant-input {
  max-width: 300px;
  margin-right: 10px;
}

.navigate-button {
  background-color: #162B4B; /* 새로운 파란색 */
  color: white;
  border: none;
}

.navigate-button:hover {
  background-color: #1A1A2E; /* 약간 어두운 파란색 */
}
