@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;700&display=swap');

/* Hover animation */
@keyframes slide-in {
  0% {
    background-position: 100%;
  }
  100% {
    background-position: 0%;
  }
}

.sidebar-menu .ant-menu-item {
  font-family: 'Noto Sans KR', sans-serif;
  font-size: 16px;
}

.sidebar-menu .ant-menu-item:hover {
  background: linear-gradient(to right, #ff007f 50%, transparent 50%);
  background-size: 200% 100%;
  background-position: -100%;
  animation: slide-in 0.5s forwards;
  color: white !important;
}

.sidebar-menu .ant-menu-item-selected {
  background-color: #ff007f !important;
  color: white !important;
}

.sidebar-menu .ant-menu-item-selected a {
  color: white !important;
}

/* Ensure selected menu item text and icon are white */
.sidebar-menu .ant-menu-item-selected,
.sidebar-menu .ant-menu-item-selected .anticon {
  color: white !important;
}

.info-item {
  margin-bottom: 10px;
  font-size: 16px;
}

.change-info-button {
  position: absolute;
  right: 24px;
  bottom: 24px;
}

@media (max-width: 767px) {
  .sidebar-menu {
    display: none; /* Hide sidebar on mobile devices */
  }
}
